<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <parameter>
    <name>IP_SERVEUR</name>
    <value>127.0.0.1</value>
  </parameter>
  <parameter>
    <name>LARGEUR_FENETRE_PRINCIPALE</name>
    <value>1024</value>
  </parameter>
  <parameter>
    <name>LANGUE_PAR_DEFAUT</name>
    <value>fr</value>
  </parameter>
  <parameter>
    <name>NUMERO_PORT_ECOUTE_PAR_DEFAUT</name>
    <value>10000</value>
  </parameter>
  <parameter>
    <name>MODE_DEBUG</name>
    <value>1</value>
  </parameter>
  <parameter>
    <name>NUMERO_DE_VERSION</name>
    <value>1</value>
  </parameter>
  <parameter>
    <name>HAUTEUR_FENETRE_PRINCIPALE</name>
    <value>680</value>
  </parameter>
  <parameter>
    <name>MESSAGE_SEPARATOR</name>
    <value>|</value>
  </parameter>
  
  
  <parameter>
    <name>DB_HOST</name>
    <value>localhost</value>
  </parameter>
  <parameter>
    <name>DB_PORT</name>
    <value>8889</value>
  </parameter>
  <parameter>
    <name>DB_NAME</name>
    <value>urbanJungle</value>
  </parameter>
  <parameter>
    <name>DB_USERNAME</name>
    <value>root</value>
  </parameter>
  <parameter>
    <name>DB_USERPASSWORD</name>
    <value>root</value>
  </parameter>
  
</configuration>
